$BoldFont: BannyBold;
$LightFont: BannyLight;
$RoundFont: BannyRound;
$OpenSansLight: OpenSansLight;
$OpenSansRegular: OpenSansRegular;
$OpenSansBold: OpenSansBold;

@font-face{
    font-family: $BoldFont;
    src: url(../fonts/Banny-BoldRound.woff); 
}
@font-face{
    font-family: $LightFont;
    src: url(../fonts/Banny-LightRound.woff); 
}
@font-face{
    font-family: $RoundFont;
    src: url(../fonts/Banny-Round.woff); 
}
@font-face{
    font-family: $OpenSansLight;
    src: url(../fonts/OpenSans-Light.woff); 
}
@font-face{
    font-family: $OpenSansRegular;
    src: url(../fonts/OpenSans-Regular.woff); 
}
@font-face{
    font-family: $OpenSansBold;
    src: url(../fonts/OpenSans-SemiBold.woff); 
}
img{
    width:100%;
}
.container{
    max-width: 1300px;
    padding: 0 10px;
    margin: 0 auto;
}

.menu{
    height: 75px;
    font-family: $OpenSansBold;
    font-size: .75rem;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    &_top{
        margin: 25px 0 0 0;
    }
    &__item{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
    }
    &__link{
        position: relative;
        &:before{
            content: '';
            transition: .5s;
            opacity: 0;
            display: block;
            position: absolute;
            width: 100%;
            height: 1px;
            background-color: #ffd600;
            bottom: -10px;
        }
        &:after{
            content: '';
            transition: .5s;
            opacity: 0;
            display: block;
            position: absolute;
            width: 100%;
            height: 1px;
            background-color: #ffd600;
            bottom: -25px;
        }
        .menu__item:hover &:after,.menu__item:hover &:before{
            opacity: 1;
            bottom: -2px;
        }
    }
    & .logo{
        align-self: end;;
    }
}
@media (max-width: 662px){
    .menu{
        height: 45px;
        font-size: .65rem;
        &_top{
            margin: 15px 0 0 0;
        }
        .logo{
            width: 60px;
        }
    }
}
@media (max-width: 449px){
    .menu{
        width: 100%;
        flex-direction: column;
        height: auto;
        background-color: rgba(255, 214, 0, .7);
        margin: 0;
        position: absolute;
        left: 00%;
        transition: 1s;
        font-size: .75rem;
        &__item{
            padding: .2rem 0;
        }
        &__link{
            color: #fff;
        }
        .logo{
            display: none;
        }
    }
}